<link rel="stylesheet" href="${basePath}/resources/common/libs/fileinput/css/fileinput.min.css">
<script src="${basePath}/resources/common/libs/fileinput/js/fileinput.js"></script>
<script src="${basePath}/resources/common/libs/fileinput/js/locales/zh.js"></script>
<!--BaseFile组件-->
<script src="${basePath}/resources/common/js/base-file.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
    <h5 class="modal-title">离职信息</h5>
</div>

<div class="modal-body" style="max-height:700px;overflow-y:auto;">

    <form id="user-form1" name="user-form" class="form-horizontal">
        <input type="hidden" name="id">
        <div class="box-body">
        	<div class="form-group">
                    <label for="name" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-9">
						<input type="text" class="form-control"  name="name" id="name" placeholder="姓名" disabled="disabled">
                    </div>
            </div>
        	<div class="form-group">
                    <label for="leaveTime" class="col-sm-2 control-label">离职时间</label>
                    <div class="col-sm-9">
						<input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="leaveTime" id="leaveTime" placeholder="离职时间" disabled="disabled">
                    </div>
            </div>
            <div class="form-group">
                    <label for="leaveReason" class="col-sm-2 control-label">离职原因</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="leaveReason" name="leaveReason" placeholder="离职原因" rows="5" disabled="disabled"></textarea>
                    </div>
            </div>
            <div class="form-group">
                    <label for="bmyj" class="col-sm-2 control-label">审批意见</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" id="bmyj" name="bmyj" placeholder="审批意见" rows="6" ></textarea>
                    </div>
            </div>
            <input type="hidden" name="fileId" id="fileId">
			<div class="form-group" align="center" id="wjscid">
				<div class="btn btn-default btn-file" id="uploadFile">
					<i class="fa fa-paperclip"></i> 上传工作交接表附件(Max. 10MB)
				</div>
			</div>
			<div class="form-group" id="file_container">
				<input type="file" name="file"  id="attachment">
			</div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <!--以下两种方式提交验证,根据所需选择-->
            <button type="button" class="btn btn-primary" data-btn-type="save" id="save">通过</button>
            <button type="button" class="btn btn-warning" data-btn-type="save" id="donot">驳回</button>
        </div>
        <!-- /.box-footer -->
    </form>

</div>
<script>
    //tableId,queryId,conditionContainer
    var form =null;
    
    var id="${id?default(0)}";
    $(function() {
        //初始化控件
        form=$("#user-form1").form({baseEntity:false});


        $("#save").on("click",function(){
       		var params = form.getFormSimpleData();
       		if($("#bmyj").val()){
       			modals.confirm("确认审核通过？",function(){
	       			ajaxPost(basePath+'/leaveuser/start?lx=10', params, function(data) {
	                    if(data.success){
	                    	modals.hideWin(winId);
	                    	volumeTable.reloadData();
	                        modals.info("审核成功");
	                        
	                    }                
	                }); 
       			})
           	}else{
           		modals.info('请填写审核意见');
            }
        })
        $("#donot").on("click",function(){
        	var params = form.getFormSimpleData();
        	if($("#bmyj").val()){
        		modals.confirm("确认驳回？",function(){
	        		ajaxPost(basePath+'/leaveuser/start?lx=20', params, function(data) {
	                    if(data.success){
	                    	modals.hideWin(winId);
	                    	volumeTable.reloadData();
	                        modals.info("审核成功");
	                        
	                    }                
	                });
        		})
           	}else{
           		modals.info('请填写审核意见');
            }
        })
        form.initComponent();

        if(id!=0){
        	ajaxPost(basePath+'/leaveuser/load?id='+id, null, function(data) {
                if(data.success){
                	formdata = data.data;
                    form.initFormData(formdata); 
                	$("#fileId").val(data.code);   
                }                
            }); 
         }
    });


    var fileinputDefaults = {
            maxFileSize: 0,
            maxFileCount:0,
            previewSettings: {
                image: {width: "160px", height: "60px"},
                text: {width: "213px", height: "160px"},
                object: {width: "160px", height: "auto"},
                pdf: {width: "160px", height: "160px"},
                other: {width: "160px", height: "160px"}
            },
            previewZoomSettings: {
                image: {width: "auto", height: "auto", 'max-width': "100%", 'max-height': "100%"},
                text: {width: "100%", height: "100%", 'min-height': "480px"},
                object: {width: "auto", height: "100%", 'min-height': "480px"},
                pdf: {width: "100%", height: "100%", 'min-height': "480px"},
                other: {width: "auto", height: "100%", 'min-height': "480px"}
            },
            uploadUrl: basePath + "/bghjFile/uploadMultipleFile?id="+id,
            deleteUrl: basePath + "/bghjFile/deletefile",
            allowedPreviewTypes : ['image', 'object']
      }
      var defaults = {
            title: "请上传附件",
            getFileResultUrl: basePath+"/bghjFile/getFiles",
            downloadFileUrl: basePath+"/bghjFile/download/",
            fileinput: fileinputDefaults,
            showType:'detail',
            window:true,
            callback:function(fileId,oldfileIds){
                this.showFiles({
                    fileIds:fileId,
                    type:'preview'
                });
            }
      }
      
      $("#uploadFile").file($.extend({}, defaults, {
          title:"请上传附件",
          fileinput:$.extend({}, fileinputDefaults, {
              uploadExtraData: {"fileField":"fileId"}
          }),
          showContainer:'#attachment',
          fileIdContainer:"[name='fileId']",
          extraPreviewConfig:{
              "fileField":"fileId"
          }
      }));
</script>
